<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Redirect</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="rediricon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="rediricon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="rediricon.png" />
    <link href="data:image/x-icon;base64,   AAABAAIAEBAQAAEABAAoAQAAJgAAABAQAgABAAEAsAAAAE4BAAAoAAAAEAAAACAAAAABAAQAAAAA
                                            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAC6GLgBPkE8Atci1ALzNvADB0MEAzNjMANvj2wDk6uQA
                                            7/PvAPD08AD4+fgA////AAAAAAAAAAAAAAAAAN3d3d3d3d3d3d3d3d3d3d3dAAAAAAAADd0AAAAA
                                            AAAN3QAACmEAAA3dAAALyCAADd0AAAvMcAAN3QAAC5VAAA3dAAADEAAADd0AAAAAAAAN3QAAAAAA
                                            AA3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d//8AAP//AADAAQAAwAEA
                                            AMABAADAAQAAwAEAAMABAADAAQAAwAEAAMABAAD//wAA//8AAP//AAD//wAA//8AACgAAAAQAAAA
                                            IAAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                                            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                                            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
                                            rel="icon" type="image/x-icon" />
  </head>
  <body>
	<script src="../static/index.js"></script>
	<div class="wholepage">
        <div class="center">
            <h1>What would you like to watch on youtube?</h1>
            <input type="text" id="query" name="query"><br><br>
            <input id="submit-button" type="reset" value="Submit">
        </div>
    </div>
  </body>
</html>
